header{
    /*horizontal graidnet of 3 colors*/
  background: linear-gradient(135deg, #1f1c2c, #928dab, #3f2b96, #a8c0ff);
  /*englarges the background gradient area to 4 times widht anad height*/
  background-size: 300% 300%;
  /*runs @keyframes gradientShift for 7s, easeinandout and loop*/
  animation: gradientShift 7s ease-in-out infinite;
  /*alight text to center*/
  text-align: center;
  /*how much space the gradient takes up*/
  padding: 25px 0;
  font-family: 'Segoe UI', sans-serif;
  color: rgb(0, 0, 0);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


body{
    /*the menu wraps around the whole line*/
    margin: 0;
    padding: 0;
    background-color: white;
}

.title{
    /*h1 in header has class=title*/
    /*block around the text*/
    display: inline-block;
    /*background-color: red;*/
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-transform: uppercase;

    opacity: 0.1;
    /*start the opac at .1 then fade into 1 in 2s*/
    animation: fadeInOpacity 2s ease-in forwards;
    /*adds a red neon like logo to header*/
    text-shadow:
    0 0 2px #51239b,
    0 0 4px #651ed6,
    0 0 8px #651ed6,
    0 0 12px #651ed6;
    
}
@keyframes fadeInOpacity{
    from{
        opacity: 0.1;
        
    }
    to{
        opacity: 1;
    }
}

ul {
/*color of unsorted list*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
    /*elems of ul go from left to right*/
  float: left;
}


li a {
  display: block; /*each elem is a block*/
  color: white;
  text-align: center;
  padding: 14px 20px; /*padding around each block*/
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(56, 201, 43);
}

#signIn{
    float: right;
    background-color: #3f2b96;
}


/*the slider for popular movies*/
.swiper{
  width: 100%; /*occupy 90% of parents width*/
  max-width: 990px; /*limit on large screenss*/
  margin: 0 auto;
  padding-top: 20px; /*padding above*/
  padding-bottom: 40px; /*padding above*/
  box-sizing: border-box;
}

.swiper-slide{
  background: #fff; /*white background for each slide*/
  border-radius: 10px; /*round corners*/
  text-align: center; /*cetner text and descrip*/
  width: 300px;
  flex-shrink: 0;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15); /*drop shadow*/
  transition: transform 0.3s;
  margin-right: 30px;
  }
.movie-poster {
  width: 100%; /*poster fills entire width of slide*/
  height: auto; /*keep image same ratio*/
  border-radius: 10px 10px 0 0; /*round top corners of poster only*/
  }
/*text area below the image*/
.movie-info {
  padding: 15px; /*space around title and descrip*/
  font-size: .9em;
  }

.swiper-slide:hover{
  transform: scale(1.15);
  transition: transfrom 0.3s ease;
}

@media (max-width: 768px) {
  .swiper-slide {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .swiper-slide {
    max-width: 150px;
  }
}