<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaPrompt</title>
    <!--jinja syntax for inserting dynamic content for HTMl templates-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--url_for() generates a URL to a specific route-->

    <script src="{{url_for('static', filename='js/main.js')}}" defer></script>
    <!--url_for()tells flask to look inside static/ folder-->
    <!--defer ensures JS runs after HTML is loaded-->
</head>
<body>
    <header>
        <h1 class="title"><b><i>Welcome to CinemaPrompt</i></b></h1>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Support</a></li>
            <li id="signIn"><a href="">Sign In</a></li>
        </ul>
    </nav>

    <main>
        <div id="movie-carousel" class="carousel-container"></div>

    </main>

    <footer>

    </footer>
    
</body>
</html>