<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaPrompt</title>
    <!--jinja syntax for inserting dynamic content for HTMl templates-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--url_for() generates a URL to a specific route-->

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <!--url_for()tells flask to look inside static/ folder-->
    <!--defer ensures JS runs after HTML is loaded-->

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

</head>
<body>
    <header>
        <h1 class="title"><b><i>Welcome to CinemaPrompt</i></b></h1>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About Us</a></li>
            <li id="signIn"><a href="">Sign In</a></li>
        </ul>
    </nav>

    <main>
        <h1 id="titlePopMovies"><b><i>Current Trending Films:</i></b></h1>


        <!-- swiper container for the carousel -->
        <div class="swiper mySwiper">

            <!-- wrapper that will contain the individual slides, class="swiper-wrapper" is mandatory even if not directly using it -->
            <div id="movie-carousel" class="swiper-wrapper">

                <!-- Slides will be added here by JS dynamically -->
            </div>
        </div>

        <form>
            <label for="PromptBox">Write your Prompt for your reccomended movies:</label>
            <textarea id="PromptBox" name="userPrompt" required
            placeholder="Please reccomended me movies that ..." minlength="8"></textarea>
            <!-- adding a name ensures the value of the textarea is included under the key="userPrompt"
            essential for backend handling, flask acceses this by request.form["userPrompt"] -->
            <br>
            <input type="submit" id="submitButtonForPromptBox">
            <input type="reset">
        </form>

    </main>

    <footer>
        <h1 style="background-color: cadetblue;">Thank you for visiting</h1>
    </footer>
    
</body>
</html>