<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaPrompt</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="/movie_project/static/cinemaprompt.png">
</head>
<body>
    <header>
        <h1 class="title"><b><i>Welcome to CinemaPrompt</i></b></h1>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Support</a></li>
            <li id="signIn"><a href="">Sign In</a></li>
        </ul>
    </nav>

    <main>

    </main>

    <footer>

    </footer>
    
</body>
</html>