<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaPrompt</title>
    <!--jinja syntax for inserting dynamic content for HTMl templates-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--url_for() generates a URL to a specific route-->

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <!--url_for()tells flask to look inside static/ folder-->
    <!--defer ensures JS runs after HTML is loaded-->

    
    <!-- generate the favicon-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='cinemaprompt.png') }}">
    
     <!-- Import Google Font (Poppins) -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body id="login-body">
    
    
    <div class="login-container">

        <!-- title -->
        <H1 id="welcome-title-login">Welcome To CinemaPrompt</H1>

        <!-- logo -->
        <img src="{{ url_for('static', filename='cinemaprompt.png') }}" alt="CinemaPrompt Logo" class="login-logo">
        
        <h1 id="login-header">Log In To Your Account</h1>

        <!-- login form for user-->
        <form id="login-form">

            <!-- email input box -->
            <label for="email-login">Enter Email:</label>
            <input type="email" id="email-login" placeholder="youremail@example.com" name="email" required autocomplete="email">

            <br>

            <!-- label for the password input-->
            <label for="password-login">Enter Password:</label>

            <!-- wrapper to group the password input and toggle button-->
            <div class="password-wrapper">

                <!-- password input -->
                <input type="password" id="password-login" placeholder="ILoveMovies123" name="password" required autocomplete="current-password">

                <!-- toggle eye icon button-->
                 <button type="button" id="toggle-password" aria-label="Toggle password visibility">

                    <!-- Open eye icon, initally hidden until password is visible -->
                    <img src="{{ url_for('static', filename='eye.svg') }}" alt="Show Password" class="eye-icon eye-open hidden">
                    <!--                                                      three different class: .eye-icon, .eye-open, .hidden-->
                    <!-- closed eye icon, shown by default while password is hidden -->
                    <img src="{{ url_for('static', filename='eye-off.svg') }}" alt="Hide Password" class="eye-icon eye-closed">
                                                                                    <!-- two different classes: .eye-icon, .eye-closed -->
                                <!-- the eye-off.svg dosent have the hidden class first becasue it appears as default-->
                </button>
            </div>
            <div id="password-error" class="password-error-message" style="display: none;"></div>
            <br>

            <button type="submit">Login</button>
            <p>Don't have an account? <a href="/register">Click Here to Sign Up</a></p>

        </form>
    </div>
    <p id="LOGIN-PAGE"></p>
</body>

</html>